# SCM syntax highlighting
pixi.lock linguist-language=YAML linguist-generated=true
site/package-lock.json linguist-language=JSON linguist-generated=true
site/src/data/tools.json linguist-language=JSON linguist-generated=true
